<%= form_with(model: comment, local: true, html: {class: 'form-group'}) do |form| %>
  <%= render 'layouts/alert', object: comment %>

  <div class="field">
    <%= form.hidden_field :new_id %>
    <%= form.text_area :content, id: :comment_content, class: 'form-control', rows: 5 %>
  </div>

  <%= form.submit "add comment", class: 'btn btn-success green'%>
<% end %>
