<% content_for :title, @new.title %>

<p id="notice"><%= notice %></p>

<div class="topics media comment-index">
  <%= render "news/topic", new: @new%>
</div>
<%= render 'comments/form', comment: @new.comments.new %>

<div class="media comments">
  <% @comments.each do |comment| %>
    <div class="panel comment">
      <div class="">
        <%= "by #{comment.user.username} #{time_ago_in_words(comment.created_at)} ago" %>
      </div>
      <div class="media-body ml-1">
        <h4 class="media-heading"><%= comment.content %></h4>
      </div>
    </div>
  <% end %>
</div>

<br>
