<%= form_with(model: news, local: true, url: news_index_path, html: {class: 'form-group'}) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'title: ' %>
    <%= form.text_area :title, id: :news_title, class: 'form-control', rows: 5, placeholder: 'required' %>
  </div>

  <div class="field">
    <%= form.label :source, 'news source (optional): ' %>
    <%= form.url_field :source, id: :news_source, placeholder: 'https://', class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-success green' %>
<% end %>
