<%= form_with(model: news, local: true, url: news_index_path, html: {class: 'form-group'}) do |form| %>
  <%= render 'layouts/alert', object: news %>

  <div class="field">
    <%= form.label :title, 'title: ' %>
    <%= form.text_area :title, id: :news_title, class: 'form-control', rows: 5, placeholder: 'required' %>
  </div>

  <div class="field">
    <%= form.label :source, 'news source (optional): ' %>
    <%= form.url_field :source, id: :news_source, placeholder: 'https://', class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-success green' %>
<% end %>
