<%= form_with(model: news, local: true, url: news_index_path) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, id: :news_title %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :news_source %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
