<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <title><%= yield(:title) %></title>
    <% else %>
      <%= content_tag :title, 'Home' %>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="ui fixed stackable menu">
      <a class="header item" href="https://news.ycombinator.com/">
        <%= image_tag "icon.png", class: 'logo' %>
        RMIT News
      </a>
      <%= link_to 'Home', news_index_path, class: "item #{current_page?(news_index_path) ? 'active' : ''}" %>
      <%= link_to 'comments' , newcomments_comments_path, class: "item #{current_page?(newcomments_comments_path) ? 'active' : ''}" %>
      <%= link_to 'submit' , new_news_path, class: "item #{current_page?(new_news_path) ? 'active' : ''}" %>
      <div class="right menu">
        <% if current_user %>
          <%= link_to current_user.username, user_path(current_user.id), class: 'ui item' %>
          <%= link_to 'Log out', logout_users_path, class: 'ui item' %>
        <% else %>
          <%= link_to 'Log in', users_path, class: 'ui item' %>
        <% end %>
      </div>
    </div>
    <div class="ui main text container">
      <%= yield %>
    </div>

    <footer class="page-footer navbar-fixed-bottom">
      <div class="footer-copyright py-3 text-center">
          <a href="https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2"> API </a>
          |
          <a href="/users/about"> About </a>
      </div>
    </footer>
  </body>
</html>
